{{! Biography Tab }}
<section class='tab biography fixoverflow {{tab.cssClass}}' data-group='primary' data-tab='biography' style="overflow-y: auto; max-height: 460px;">
  {{#ifEquals actor.type 'character'}}
    {{! Core Ability  and Companion Section}}
    <div class="grid grid-2col" style="gap: 10px;">
      <div class="flexcol" style="margin-left: -10px;">
        <h2>{{localize 'CRASK.Actor.base.FIELDS.coreability.label'}}</h2>
        <ul class="tab-list" style="margin-top: 5px; margin-bottom: -10px;">
          {{#each abilities as |item id|}}
            <li class='item flaw flexrow' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
              <!-- Ability image and controls -->
              <div class="flexcol left-simple">
                <div class='item-image'>
                    <a data-action='viewDoc'>
                      <img src='{{item.img}}' title='{{item.name}}' width='40' height='40'/>
                    </a>
                </div>
                <div class='item-controls flexrow'>
                    {{#if @root.editable}}
                    <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='Flora'}}' data-action='deleteDoc'>
                        <i class='fas fa-trash'></i>
                    </a>
                    {{/if}}
                </div>
              </div>
              <!-- Ability details -->
              <div class="flexcol" style="height: 75px;">
                <div class='item-name'>{{item.name}}</div>
                <div class='item-description line3'>{{{item.system.enrichedDescription}}}</div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="flexcol">
        <h2>{{localize 'CRASK.Actor.base.FIELDS.companion.label'}}</h2>
        <ul class="tab-list" style="margin-top: 5px; margin-bottom: -10px;">
          {{#each companions as |item id|}}
              <li class='item flaw flexrow' 
                  data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
                <!-- Item image and controls -->
                <div class="left-simple flexcol">
                  <div class='item-image'>
                      <a data-action='viewDoc'>
                      <img src='{{item.img}}' title='{{item.name}}' width='40' height='40'/>
                      </a>
                  </div>
                  <div class='item-controls flexrow'>
                      {{#if @root.editable}}
                      <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='Flora'}}' data-action='deleteDoc'>
                          <i class='fas fa-trash'></i>
                      </a>
                      {{/if}}
                  </div>
                </div>
                <!-- Item details -->
                <div class="flexcol">
                  <div class='item-name'>{{item.name}}</div>
                  <div class='item-description line3'>{{{item.system.enrichedDescription}}}</div>
                </div>
              </li>
          {{/each}}
        </ul>
      </div>
    </div>
    
    {{! Flaws Section }}
    <h2>{{localize 'CRASK.Actor.base.FIELDS.flaws.label'}}</h2>
    <ul class="tab-list grid grid-2col" style="margin-top: 5px;">
      {{#each flaws as |item id|}}
      <li class='item flaw flexrow' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
        <!-- Left column for item image and controls -->
        <div class="flexcol left-simple">
          <div class='item-image'>
            <a data-action='viewDoc'>
              <img src='{{item.img}}' title='{{item.name}}' width='40' height='40'/>
            </a>
          </div>
          <div class='item-controls flexrow'>
            {{#if @root.editable}}
              <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='Equipment'}}' data-action='deleteDoc'>
                <i class='fas fa-trash'></i>
              </a>
            {{/if}}
          </div>
        </div>
        <!-- Right column for item details -->
        <div class="flaw-right-column">
          <div class='item-name'>{{item.name}}</div>
          <div class='item-description line3'>{{{item.system.enrichedDescription}}}</div>
        </div>
      </li>
      {{/each}}
    </ul>
  {{/ifEquals}}

  {{! Editable Character Biography Section }}
  <h2>
    {{#ifEquals actor.type 'character'}}{{localize 'CRASK.Actor.base.FIELDS.charactersummary.label'}}{{/ifEquals}}
    {{#ifEquals actor.type 'enemy'}}{{localize 'CRASK.Actor.base.FIELDS.enemydescription.label'}}{{/ifEquals}}
    {{#ifEquals actor.type 'npc'}}{{localize 'CRASK.Actor.base.FIELDS.npcsummary.label'}}{{/ifEquals}}
    {{#ifEquals actor.type 'companion'}}{{localize 'CRASK.Actor.base.FIELDS.companiondescription.label'}}{{/ifEquals}}
  </h2>
  {{#if editable}} 
    <prose-mirror name="system.biography" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.biography}}" collaborate="true" toggled="true">
      {{{enrichedBiography}}}
    </prose-mirror>
  {{else}} {{{enrichedBiography}}}
  {{/if}}
</section>