{{! Enemy Sheet }}
<section data-tab='enemy' class="fixoverflow" style="max-height: 700px; overflow-y: auto; resize: vertical;">

    {{! Header First Row}}
    <div class='grid grid-2col flexrow enemy-header'>

        {{! First Column Character Image}}
        <img
            class='profile-img'
            src='{{actor.img}}'
            data-edit='img'
            title='{{actor.name}}'
            height='120'
            width='120'
            data-action="editImage"
        />

        {{! Second Column Information}}
        <div class='flexcol'>
            <h1 class='charname'>
                <input name='name' type='text' value='{{actor.name}}' placeholder='Name' />
            </h1>
            <input style="margin-left: 10px; width: 96%; text-align: center; margin-top: 10px;"
                id="enemy-description"
                type='text'
                name='system.shortdescription'
                value='{{system.shortdescription}}'
                data-dtype='String'
            />
        </div>
    </div>

    <div class="flexrow enemy-body" style="margin-bottom: 15px;">

        {{! HP }}
        <div class="input-wrapper flexcol" style="min-width: 105px;">
            <label class='resource'>{{localize 'CRASK.Actor.hp.label'}}</label>
            <div class='flexrow'>
                <input
                id="current-hp"
                type='number'
                name='system.hitpoints.current'
                value={{system.hitpoints.current}}
                data-dtype='Number'
                />
                <span style="padding-bottom: 10px;"> / </span>
                <input
                id="max-hp"
                type='number'
                name='system.hitpoints.max'
                value={{system.hitpoints.max}}
                data-dtype='Number'
                />
            </div>
        </div>

        {{! ATK / DEF }}
        <div class="input-wrapper flexcol">
            <label class='resource'>{{localize 'CRASK.Actor.atk.label'}}</label>
            <input
            type='number'
            name='system.attack'
            value={{system.attack}}
            data-dtype='Number'
            />
        </div>

        <div class="input-wrapper flexcol">
            <label class='resource'>{{localize 'CRASK.Actor.def.label'}}</label>
            <input
            type='number'
            name='system.defense'
            value='{{system.defense}}'
            data-dtype='Number'
            />
        </div>

        {{! Tactics }}
        <div class="input-wrapper flexcol">
            <label class='resource'>{{localize 'CRASK.Actor.tactic.label'}}</label>
            <input
                type='number'
                name='system.tactics.number'
                value='{{system.tactics.number}}'
                data-dtype='Number'
            />
        </div>

        {{! Phases Row }}
        <div class="flexcol">
            <label class='resource'>{{localize 'CRASK.Actor.phase.s'}}</label>
            <div class="resource-content sheet-phase-selector flexrow">
                <label class="phase-label">
                    <input type="checkbox" name="system.phases" class="phase-checkbox" data-action="checkboxChange" value="1" {{checked (includes 1 system.phases)}}>
                </label>
                <label class="phase-label"> 
                    <input type="checkbox" name="system.phases" class="phase-checkbox" data-action="checkboxChange" value="2" {{checked (includes 2 system.phases)}}>
                </label>
                <label class="phase-label">
                    <input type="checkbox" name="system.phases" class="phase-checkbox" data-action="checkboxChange" value="3" {{checked (includes 3 system.phases)}}>
                </label>
                <label class="phase-label">
                    <input type="checkbox" name="system.phases" class="phase-checkbox" data-action="checkboxChange" value="4" {{checked (includes 4 system.phases)}}>
                </label>
                <label class="phase-label">
                    <input type="checkbox" name="system.phases" class="phase-checkbox" data-action="checkboxChange" value="5" {{checked (includes 5 system.phases)}}>
                </label>
            </div>
        </div>

        {{! Phase Selector }}
        <img
            class="clickable"
            src="systems/crown-and-skull/assets/icons/Black/Initiative.svg"
            title="{{localize 'CRASK.Actor.phase.push'}}"
            data-action="initiativePush"
            style="max-width: 40px; margin-right: 15px;"
        />

        {{! Tactics Roll }}
        <img
            class="clickable"
            src="systems/crown-and-skull/assets/icons/Black/TacticDie.svg"
            title="{{localize 'CRASK.Actor.tactic.roll'}}"
            data-action="rollTactic"
            style="max-width: 40px;"
        />

    </div>

    <h2>{{localize 'CRASK.Actor.tactic.header'}}</h2>

    <h3>{{localize 'CRASK.Actor.tactic.move'}}</h3>
    <textarea id="tactic1" name="system.tactics.move" rows="3" cols="10">{{{system.tactics.move}}}</textarea>

    <h3>{{localize 'CRASK.Actor.tactic.melee'}}</h3>
    <textarea id="tactic25" name="system.tactics.melee" rows="3" cols="10">{{{system.tactics.melee}}}</textarea>

    <h3>{{localize 'CRASK.Actor.tactic.area'}}</h3>
    <textarea id="tactic6" name="system.tactics.area" rows="4" cols="10">{{{system.tactics.area}}}</textarea>

    {{! Editable Enemy Description Section }}
    <h2>{{localize 'CRASK.Actor.enemydescription.label'}}</h2>
    {{#if editable}} 
    <prose-mirror name="system.biography" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.biography}}" collaborate="true" toggled="true">
      {{{enrichedBiography}}}
    </prose-mirror>
    {{else}} {{{enrichedBiography}}}
    {{/if}}

</section>