{{! Sheet Header }}
<header class='sheet-header'>
    
    {{! Main Header Row}}
    <div class="grid grid-4col flexrow">

      {{! Hero Points Section}}
      <div class='grid grid-5col flexrow' style="align-items: flex-end;">
        <div class='resource-label'>
          {{localize 'CRASK.Actor.base.FIELDS.heropoints.label'}}
        </div>
        <div class="flexcol input-wrapper">
          <label class="hero-points-label">{{localize 'CRASK.Actor.base.FIELDS.current.label'}}</label>
          <input
            id="current-hero-points"
            title="Current Hero Points"
            type='text'
            name='system.heropoints.used'
            value={{actor.system.heropoints.used}}
            data-dtype='Number'
            readonly
          />
        </div>
        <div class="flexcol input-wrapper">
          <label class="hero-points-label">Max</label>
          <input
            id="max-hero-points"
            title="Max Hero Points"
            type='text'
            name='system.heropoints.max'
            value={{actor.system.heropoints.max}}
            data-dtype='Number'
            readonly
          />
        </div>
        <div class="flexcol input-wrapper">
          <label class="hero-points-label">Remaining</label>
          <input
            id="max-hero-points"
            title="Max Hero Points"
            type='text'
            name='system.heropoints.remaining'
            value={{actor.system.heropoints.remaining}}
            data-dtype='Number'
            readonly
          />
        </div>
        <div class="flexcol input-wrapper">
          <label class="hero-points-label">{{localize 'CRASK.Actor.base.FIELDS.lost.label'}}</label>
          <input
            id="lost-hero-points"
            title="Hero Points Lost to Consumables and Destroyed Equipment"
            type='text'
            name='system.heropoints.lost'
            value={{actor.system.heropoints.lost}}
            data-dtype='Number'
          />
        </div>
      </div>

      {{! Defense Value}}
      <div class="flexrow defense-value"title="{{localize 'CRASK.Actor.base.FIELDS.defense.label'}}">
        {{actor.system.defense.value}}
      </div>

      {{! Phase Selector }}
      <img
        class="phase-selector clickable"
        src="systems/crown-and-skull/assets/icons/Black/Initiative.svg"
        title="Select Combat Phase"
        data-action="initiativeSelect"
      />
      
      {{! Hero Coin }}
      <img
        class='hero-coin clickable'
        src="systems/crown-and-skull/assets/HeroCoin{{#if actor.system.heroCoinAvailable}}{{else}}Grey{{/if}}.svg"
        title='{{#if actor.system.heroCoinAvailable}}Click to Use Hero Coin!{{else}}Click to Gain Hero Coin{{/if}}'
        data-action="useHeroCoin"
      />

    </div>

</header>