{{! Sheet Header }}
<header class='sheet-header'>

  {{! Main Header Row}}
  <div class="grid grid-3col flexrow">

    {{! Hero Points Section}}
    <div class='hero-points-wrapper'>
      <div class='resource-label hero-points-label-container'>
        {{localize 'CRASK.Actor.heropoints.label'}}
      </div>
      <div class="grid grid-4col hero-points-input-container" title="{{localize 'CRASK.Actor.heropoints.current.title'}}">
        <div class="input-wrapper flexcol">
          <label for="current-hero-points" class="hero-points-label">{{localize 'CRASK.Actor.heropoints.current.abbreviation'}}</label>
          <input
            id="current-hero-points"
            type='number'
            name='system.heropoints.used'
            value={{actor.system.heropoints.spent}}
            data-dtype='Number'
            {{#if autoCalc}}readonly{{/if}}
          />
        </div>
        <div class="input-wrapper flexcol {{#if autoCalc}}clickable{{/if}}" title="{{localize 'CRASK.Actor.heropoints.max.title'}} {{#if actor.system.heropoints.offset}}({{actor.system.heropoints.offset}}){{/if}}"{{#if autoCalc}}data-action="heroPointOffset"{{/if}}>
          <label for="max-hero-points" class="hero-points-label">{{localize 'CRASK.Actor.heropoints.max.label'}}</label>
          <input
            id="max-hero-points"
            type='number'
            name='system.heropoints.max'
            
            value={{actor.system.heropoints.max}}
            data-dtype='Number'
            {{#if autoCalc}}readonly{{/if}}
          />
        </div>
        <div class="input-wrapper flexcol" title="{{localize 'CRASK.Actor.heropoints.remaining.title'}}">
          <label for="remaining-hero-points" class="hero-points-label">{{localize 'CRASK.Actor.heropoints.remaining.abbreviation'}}</label>
          <input
            id="remaining-hero-points"
            type='number'
            name='system.heropoints.remaining'
            value={{actor.system.heropoints.remaining}}
            data-dtype='Number'
            {{#if autoCalc}}readonly{{/if}}
          />
        </div>
        <div class="input-wrapper flexcol" title="{{localize 'CRASK.Actor.heropoints.lost.title'}}">
          <label for="lost-hero-points" class="hero-points-label">{{localize 'CRASK.Actor.heropoints.lost.label'}}</label>
          <input
            id="lost-hero-points"
            type='number'
            name='system.heropoints.lost'
            value={{actor.system.heropoints.lost}}
            data-dtype='Number'
          />
        </div>
      </div>
    </div>

    {{! Attrition Points Section}}
    <div class='attrition-points-wrapper'>
      <div class='resource-label hero-points-label-container'>
          {{localize 'CRASK.Actor.attrition.label'}}
      </div>
      <div class="grid grid-4col hero-points-input-container">
        
        <div class="input-wrapper flexcol" title="{{localize 'CRASK.Actor.attrition.equipment.roll'}}">
          <img
            class="clickable"
            src="systems/crown-and-skull/assets/icons/Black/d10E.svg"
            data-action="rollEquipmentAttrition"
            style="max-height:50px; margin: 0px;"
          />
        </div>
        <div class="input-wrapper flexcol" title="{{localize 'CRASK.Actor.attrition.equipment.title'}}">
          <label for="max-hero-points" class="hero-points-label flexrow">{{localize 'CRASK.Actor.attrition.equipment.label'}}</label>
          <input
            id="max-hero-points"
            type='number'
            name='system.attrition.equipment'
            value={{actor.system.attrition.equipment}}
            data-dtype='Number'
            readonly
          />
        </div>
        <div class="input-wrapper flexcol" title="{{localize 'CRASK.Actor.attrition.flesh.title'}}">
          <label for="current-hero-points" class="hero-points-label flexrow">{{localize 'CRASK.Actor.attrition.flesh.label'}}</label>
          <input
            id="current-hero-points"
            type='number'
            name='system.attrition.flesh'
            value={{actor.system.attrition.flesh}}
            data-dtype='Number'
            readonly
          />
        </div>
        <div class="input-wrapper flexcol" title="{{localize 'CRASK.Actor.attrition.flesh.roll'}}">
          <img
            class="clickable"
            src="systems/crown-and-skull/assets/icons/Black/d10F.svg"
            data-action="rollFleshAttrition"
            style="max-height:50px; margin: 0px;"
          />
        </div>
      </div>
    </div>

    {{! Combat Controls Section}}
    <div class="combat-wrapper">
      <div class='resource-label hero-points-label-container'>
          {{localize 'CRASK.Actor.combat'}}
      </div>

      <div class="grid grid-4col hero-points-input-container">

        {{! Defense Value}}
        <div class="input-wrapper flexcol" title="{{localize 'CRASK.Actor.defense.equipment'}}">
          <label for="max-hero-points" class="hero-points-label flexrow">{{localize 'CRASK.Actor.defense.label'}}</label>
          <div class="flexrow defense-value clickable" title="{{localize 'CRASK.Actor.defense.roll'}}" data-roll-type="Defense" data-action="skillRoll" style="padding-bottom: 4px;">
            {{actor.system.defense}}
          </div>
        </div>
        
        {{! Defense Temp Modifier}}
        <div class="input-wrapper flexcol" title="{{localize 'CRASK.Actor.defense.modifiers'}}">
          <label for="temporary-defense" class="hero-points-label flexrow">{{localize 'CRASK.Actor.defense.temp'}}</label>
          <input
            id="temporary-defense"
            type='number'
            name='system.defenseModifier'
            value={{actor.system.defenseModifier}}
            data-dtype='Number'
          />
        </div>

        {{! Hero Coin }}
        <div class="input-wrapper flexcol" title="{{#if actor.system.heroCoinAvailable}}{{localize 'CRASK.Actor.herocoin.available'}}{{else}}{{localize 'CRASK.Actor.herocoin.gain'}}{{/if}}">
          <label class="hero-points-label flexrow">{{localize 'CRASK.Actor.herocoin.label'}}</label>
          <img
            class='clickable'
            src="systems/crown-and-skull/assets/HeroCoin{{#if actor.system.heroCoinAvailable}}{{else}}Grey{{/if}}.svg"
            data-action="useHeroCoin"
            style="margin: 0px; max-height: 32px;"
          />
        </div>

        {{! Phase Selector }}
        <div class="input-wrapper flexcol" title="{{localize 'CRASK.Actor.phase.select'}}">
          <label class="hero-points-label flexrow">{{localize 'CRASK.Actor.phase.label'}}</label>
          <img
            class="clickable"
            src="systems/crown-and-skull/assets/icons/Black/Initiative.svg"
            data-action="initiativeSelect"
            style="margin: 0px; max-height: 40px;"
          />
        </div>

      </div>
      
    </div>

  </div>

</header>