{{! NPC Sheet }}
<section data-tab='npc'>

    <div class="flexcol">
      {{! Header First Row}}
      <div class='grid grid-2col flexrow' style="margin-top: -15px;">
        {{! First Column Character Image}}
        <img
          class='profile-img'
          src='{{actor.img}}'
          data-edit='img'
          title='{{actor.name}}'
          height='120'
          width='120'
          data-action="editImage"
        />
        {{! Second Column Information}}
        <div class='item-header'>
            <h1 class='charname'>
                <input name='name' type='text' value='{{actor.name}}' placeholder='Name' />
            </h1>
            <div class="flexrow" style="margin-top: 10px;">
                <label class="resource-label" for="npc-location" style="max-width: 100px;">{{localize 'CRASK.Actor.location.label'}}: </label>
                <input style="padding: 10px;"
                    id="npc-location"
                    type='text'
                    name='system.location'
                    value='{{system.location}}'
                    data-dtype='Text'
                />
            </div>  
        </div>
    </div>

    {{! How Known and Quests}}
    <div class="grid grid-2col flexrow">
        <div class="flexcol">
            <h2>{{localize 'CRASK.Actor.known.label'}}</h2>
            <textarea id="tactic1" name="system.known" rows="10" cols="10">{{{system.known}}}</textarea>
        </div>
        <div class="flexcol">
            <h2>{{localize 'CRASK.Actor.quest.label'}}</h2>
            <textarea id="tactic25" name="system.quest" rows="10" cols="10">{{{system.quest}}}</textarea>
        </div>
    </div>
    
    {{! Editable Character Biography Section }}
    <h2>{{localize 'CRASK.Actor.npcsummary.label'}}</h2>
    {{#if editable}} 
        <prose-mirror name="system.biography" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.biography}}" collaborate="true" toggled="true">
        {{{enrichedBiography}}}
        </prose-mirror>
    {{else}} {{{enrichedBiography}}}
    {{/if}}

</section>