{{! Skills Tab }}
<section class='tab skills {{tab.cssClass}} fixoverflow' data-group='primary' data-tab='skills' style="overflow-y: auto; max-height: 540px;">

  <ul class="tab-list grid grid-2col" style="margin-top: 5px;">
    {{#each skills as |item id|}}
    <li class='item skill flexrow {{#if item.system.isDamaged}}damaged{{/if}} {{#if item.system.uses.max}}{{#ifEquals item.system.uses.current 0}}zero-uses{{/ifEquals}}{{/if}}' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
      <!-- Left column for item image and controls -->
      <div class="flexcol left-simple">
        <div class='item-image'>
          <a data-action='viewDoc'>
            <img src='{{item.img}}' title='View Item ◇ Ctrl: Post Item ◇ Alt: Whisper Self' width='40' height='40'/>
          </a>
        </div>
        <div class='item-controls flexrow'>
          {{#if @root.editable}}
            <a class='item-control item-delete small-control' title='{{localize "DOCUMENT.Delete" type='Skill'}} ◇ Ctrl: Skip Dialog' data-action='deleteDoc'>
              <i class='fas fa-trash'></i>
            </a>
          {{/if}}
          <div class="toggle-state clickable small-control" title="{{#if item.system.isDamaged}}Damaged: Click to Restore{{else}}Intact: Click to Damage{{/if}}" data-action="dmgToggle">
            <i class="fas {{#if item.system.isDamaged}}fa-heart-crack{{else}}fa-heart{{/if}}"></i>
          </div>
        </div>
      </div>
      <!-- Center column for item details -->
      <div class="flexcol" style="height: 75px;">
        <div class='item-name'>{{item.name}}</div>
        <div class='item-description line3'>{{{item.system.enrichedDescription}}}</div>
      </div>
      <!-- Right column for target number and controls -->
      <div class="flexcol left-simple">
        <div class='skill-target clickable' title="Roll Skill ◇ Ctrl: Quick Roll" data-roll-type="Skill" data-action="skillRoll">{{item.system.cost}}</div>
        <div class='item-controls flexrow' style="margin-top: -5px;">
          <div title="External Modifiers">{{#ifGreaterThan item.system.modifier -1}}+{{item.system.modifier}}{{else}}{{item.system.modifier}}{{/ifGreaterThan}}</div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
    
</section>